.calendar-page {
        width:100%;
}

h4 {
        font-size:24px;
	margin-left:10px;
}

.calendar-title {
        padding:10px;
        width:100%;
        font-size:20px;
        font-weight:bold;
}

.calendar-day {
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	margin-bottom:3px;
}

.calendar-day-string {
	text-align:left;
	background-color:#66A221;
	min-width:50px;
	max-width:100%;
	padding:5px;
	font-weight:bold;
}

.calendar-details {
	padding:5px;
	display:flex;
	flex-direction:column;
}

blockquote {
	padding-top:0px;
	margin-top:5px;
}

.calendar-event {
        width:100%;
        margin-block-start: 0em;
        margin-block-end:0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        border:2px solid #7798ab;
        border-radius:5px;
        margin-bottom:10px;
        padding:3px;
        flex: 1 1 auto;
	display:flex;
	justify-content:space-between
}

.calendar-details > div:nth-of-type(odd) {
	border:2px solid #d5573b;

}

.calendar-event blockquote {
        margin-block-start: 0em;
        margin-block-end:0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        margin-top:5px;
}
.calendar-header {
	display:flex;
	justify-content:space-between;
	margin-bottom:10px;
	align-items:center;
}

.calendar-header h4 {
        margin-block-start:0em;
        margin-block-end:0em;
        margin-inline-start:0em;
        margin-inline-end:0em;
}

.calendar-filter {
	display:flex;
	justify-content:flex-end;
	margin-right:10px;
}

.filter-button {
	padding:5px;
}

.next-month {
	align-self: flex-end;
}

.fav-star {
	align-self: flex-start;
}

.fav-star-gold{
	color:#fcba04;
}

.fav-star-grey {
	color:#666666;
}

.event-detail-text {
	padding:7px;
}

.fav-button {
	margin-top:10px;
}

.fav-button button{
	padding:5px;
	width:150px;
}

.fav-button button.fav {
	background-color:#fcba04;
	border:1px solid black;
	border-radius:3px;
}

.fav-button button.unfav{
	background-color:#999999;
        border:1px solid black;
        border-radius:3px;
}

@media screen and (min-width:750px){
    .calendar-details {
        flex-direction:row;
	justiy-content:flex-start;
    }
    .calendar-event{
        width:46%;
	max-width:48%;
        margin:10px;
        padding:3px;
    }
}

